<!DOCTYPE html>
<html lang="pt-BR" oncontextmenu="return false">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MARKDOWN - BLOG</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap" rel="stylesheet">
  <link rel="icon" href="https://freepngimg.com/download/anime/10-2-anime-png-images.png" type="image/png">
</head>

<body style="background-color: #252636;">
  <main class="container">
    <h1 class="mb-4 text-center" style="color: #3C8EF5; font-family: 'Fira Code', monospace;">BLOG ANÔNIMO</h1>
    <a href="/articles/new" class="btn btn-outline-success">Criar artigo</a>

    <% articles.forEach(article=> { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">
            <%= article.title %>
          </h4>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleString({ region: 'pt-BR' }, { timeZone: 'America/Sao_Paulo'
              }).replace(/,/g, '' ) %>
          </div>
          <div class="card-text mb-2">
            <%= article.description %>
          </div>
          <a href="articles/<%= article.slug %>" class="btn btn-outline-primary">Ler mais</a>
          <a href="articles/edit/<%= article.id %>" class="btn btn-outline-info">Editar</a>

          <form action="/articles/<%= article.id %>?_method=DELETE" method="post" class="d-inline">
            <button type="submit" class="btn btn-outline-danger">Deletar</button>
          </form>
        </div>
      </div>
      <% }) %>
  </main>

  <script type="module">
    onload = function createToken() {
      let userToken = localStorage.getItem('userToken')

      if (!userToken) {
        userToken = Math.random().toString(36).substr(2)
        localStorage.setItem('userToken', userToken)
      }

      console.info({ userToken })

      // const token = Math.random().toString(36).substr(2)
      // localStorage.setItem('userToken', token)

      // const validateToken = userToken === token

      // if (!validateToken) {
      //   alert('Você não tem permissão para editar este artigo!')

      //   setTimeout(() => {
      //     location.href = '/'
      //   }, 5000)
      // }
    }
  </script>
</body>

</html>